<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p> Objective </p>
    <p> 
I am highly enthusiastic always willing to learn new technologies in Java open source space.I am self motivated to work well with others as well as efficiently on my own. I am also very determined and committed individual to complete tasks assigned to me and meet the project deadlines in each sprint as a individual and healp Team to achieve Goals.I am looking to expand my knowledge, while also giving my best to my employer. 
        Skills</p>

    <ul>
        <li>
15 years experience in Analysis, Design, Development, Implementation and support of enterprise applications using Java enriched open source technologies.
Experienced in Financial, Health-Care and Retail e-commerce domains.
</li><li>I have good experience in Spring Framework , Spring boot , AWS cloud ,
4 years experience in RESTful web services JAX-RS, Spring and Jersey Implementations.
Experienced in using ORM tools like JDO, Hibernate, JPA. 
</li><li>Long term experience in using Application/Web servers like JBoss, Apache Tomcat, Weblogic, Jetty, Http server.
</li><li>Involved in multiple application  performance testing using tools like JMeter and fine tuning JVM and linux OS parameters using Loadrunner, Jmeter and used IBM ,HP heap analyser tools at IBM ,HP labs .
</li><li>Experienced in REST API clients like SOAPUI, Postman 
</li><li>Worked in JAVA Cucumber based web application Acceptance Test Driven Development. 
</li><li>I have good exposure to Agile methodologies in multiple projects.
</li><li>SQL and Relational databases like Postgres, MySQL etc used in multiple projects tuning sqls and replication and clustering in production experience as well.
</li><li>Exposure to NoSQL MongoDB, Messaging bus like JMS, RabbitMQ, Apache Kafka.
</li><li>Good in mentoring team members , motivating , pair programming ,resolving production issues by application debugging 
</li><li>Got exposure to Splunk Query Reports  ,Jenkins CI/CD pipeline tools , GIT, SVN , CVS.
</li><li>Got Exposure to Angular based single page application development and maintenance experience including Typescript, Node ,  CSS , HTML, jQuery.
</li>
    </p>
    </div><!--//summary-->
</section><!--//section-->
