<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Software Engineer</h3>
                            <div class="time"> Jan 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Wipro Ltd, Richmond</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        <ul>
                          <li>
                            Working at Client location Capital One
In Credit card line of business I am working as a senior software engineer in Credit Card online applications.
                          </li><li>Member of federated team ,  develop and own multiple features for Credit card.Development to Deployment and owning end to end responsibility of the feature.
 </li><li>Got very good exposure in Angular Based single page application development.
 </li><li>Very well experienced in Spring based  Rest web services, Spring boot based microservices
 </li><li>Good experience Jenkin based CI/CD pipelines. 
 </li><li>Certified AWS developer.Well experienced in  Amazon Web services on prem and public Cloud .
 </li><li>Multiple project experiences in cloud acceleration work.
                          </li>
                      </p>
                  </div><!--//details-->
                </div><!--//item-->
                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Lead</h3>
                            <div class="time">Jul 2010 - Dec 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Wipro Technologies, Kochi</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        <ul>
                          <li>
                           I was part of Ecommerce mobile web service development and support for Walmart one of the major retailer company in US also I was working in web content management application development and support project for PHILIPS one of the major electric/electronics manufacturer in Europe during this time line.

                          </li><li>I was responsible for managing a small team analysts, developers, testers or engineers and drive delivery of a small module within a project for Walmart-Mexico. 
</li><li>As a part self-organized team, I was responsible for delivering the working   software to testing environment and get it ready for production. 
 </li><li>Used Oracle ATG Commerce and Java based open source tools and technologies for development and testing.
                          </li>
                      </p>
                  </div><!--//details-->
                </div><!--//item-->
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Lead</h3>
                            <div class="time">May 2008 - Dec 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">ICT Healthcare platform Imtac ICT Pvt Ltd & Sobha Renaissance IT Pvt Ltd, Bangalore.</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        <ul>
                          <li>
                          Technologies used in application includes HTB, Hibernate, Spring Framework, JUnit, Maven, Tomcat, Eclipse, Maven, MySQL.

                          </li><li>This product development is a health care platform with integrated hospital information system, picture archiving system, radiology, insurance etc. Leading modules in Sunray HIS admission, bed management, inpatient related modules and masters.
</li><li>I was involved in multiple development tasks like integration of applications using Single Sign On using Shibboleth and spring security module. 
 </li>
                          <li>I was involved in development of web tier using Flex, Spring BlazeDS integrations.</li>
                              <li>Integration of flex based chat client, Openfire chat server with application.</li>
                              <li>Involved in design and development of Address book using OpenLDAP, spring LDAP API.</li>
                              <li>Deployed various applications in a portal environment like LifeRay.</li>
                          <li>JMS integration of services using Apache Activemq and Spring integration support.</li>
                          <li>Leading the sunray his modules admission, bed management, inpatient related modules and masters.</li>
                          <li>Worked for upgrading the application from hibernate xml based configuration to annotation based persistence using Hibernate JPA implementation.
</li> <li>I was at onsite in Oman, Muscat for system study and implementation for rChive PACS in two Hospitals.</li>
                          
                      </p>
                  </div><!--//details-->
                </div><!--//item-->
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">March 2007 - April 2008 </div>
                        </div><!--//upper-row-->
                        <div class="company">Akorri Collection Sever - Sobha Renaissance IT Pvt Ltd, Bangalore.</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        <ul>
                          <li>
                          Used these technologies in this project J2EE, Spring, JUnit, Maven, AspectJ, Tomcat, Eclipse, Win-merge, MySQL, HSQLDB.

                          </li><li> Application build to collect collects information from servers, storage, and infrastructure   software, and automatically correlates application performance.Akorri Inc.
</li><li>I was involved in development of Module collection server and Proxy.  </li>
                          <li>Writing JUnit functional testing for each module developed.</li>
                              <li>Did application Logging using AspectJ.</li>
                              <li>Server client agent communication using Spring remoting.</li>
                              <li>Quartz scheduling for tasks like cleanup output files.</li>
                          <li>Audit logging using Hsqldb.</li>
                          <li>Proxy collection server installation in Windows service and Linux demon using JNLP.</li>
                                            
                      </p>
                  </div><!--//details-->
                </div><!--//item-->
<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">June 2005 - March 2007 </div>
                        </div><!--//upper-row-->
                        <div class="company">rChive PACS - Sobha Renaissance IT Pvt Ltd, Bangalore.</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        <ul>
                          <li>
                         Used technologies like JMX, JMS, Spring, SOFIA MVC Framework, JBoss, Tomcat, Eclipse, Dream Weaver, Oracle/MySQL in this application

                          </li><li> PACS is for storage and distribution of Radiology images in healthcare. This is developed in JAVA/J2EE platform. 
Clients: ABMH (Aditya Birla Memorial Hospital) Pune, Satya Sai Hospital Bangalore, Ministry of health Oman,</li>
                          <li>I was involved in the full SDLC of this project. </li>
                          <li>I was part of Radiology information system development, web modules like modality scheduling using spring and velocity templates, JMX services client interfaces to update the parameters.
</li>
                              <li>Worked in various Technical R&D like using Embedded Tomcat with application and start and stop JMX modules with various implementations.</li>
                              <li>I worked on site for implementing PACS System at varius client sites like Ministry of Health (Muscat, Oman), Aditya Birla Memorial Hospital (Pune, India).</li>

                                            
                      </p>
                  </div><!--//details-->
                </div><!--//item-->

<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Dec 2002 - May 2005 </div>
                        </div><!--//upper-row-->
                        <div class="company">Amrita Technologies, Cochin</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        <ul>
                          <li>
                        1.Konkan Railway Application 
J2EE (EJB, JSP, Servlets), SOFIA MVC Framework, JBoss, Tomcat, Eclipse, Dream Weaver, JUnit, Informix Dynamic Server.
                          </li><li> The project is re-architecting of the existing RAP application to contemporary J2EE technology and to improve the architecture of the present solution to provide for better functionality and scalability. The project is being developed using open source technologies. The current system has been developed during the 90's using the legacy Client-Server model. The system involves computerization of all aspects of a railway system. It includes a comprehensive package of eighteen modules for day to day working of all the departments.    	
Client: Konkan Railway Corporation Limited	</li>
                          <li>I was involved in various stages of development of the project analysis, and development process of this project. 
</li>
                          <li>Involved in web framework development using SOFIA Framework, like extending server side controls of framework for the Application.</li>
                              <li>2) Amrita Hospital Information System 

Used Tools and Technologies  were  J2EE (EJB, JDO, JSP, Servlet), SOFIA MVC Framework, JBoss, Tomcat, Apache Web Server.    
Amrita HIS is a full-fledged, large scale Health care solution developed in J2EE platform. Development of the product started in the year 2002 and I was involved in the project right from the beginning and was an active contributor at different stages of the product development. HIS is now implemented at many big hospitals throughout India and a few hospitals abroad.
   <li>	A complete large scale Health care solution developed in J2EE platform using the latest Java tools and concepts. Amrita HIS uses multi-tier architecture and follows the Model View Controller (MVC) design pattern, using the JADE (SOFIA) Framework and JSP for the view layer and EJB2.0 session beans for the business/model layers and Kodo JDO 2.0 for the persistence layer (entity beans). High affinity towards open source makes it always profitable to use. Development on the Amrita HIS started in Dec 2002 and within a record time of 9 months, a fully functional AHIS was successfully deployed at AIMS. A courageous leadership, superior team building coupled with extreme programming methodology helped us to complete the Herculean task in such a short span of time. The architecture uses JBoss as the Application Server on top of Apache web server with MySQL as the back end. The main focus area is on the integration of clinical as well as financial and administrative applications.    
</li>
                          <li>  I was involved in the development and bug fixing for two modules Patient Service, Financial Information Counseling.</li>
                           <li>Involved in system study, storyboarding, database design, GUI in JSP/Servlet, business logic using EJBs using JDO and JUnit test cases. 
</li>
                           <li>Worked as a member of CONFIGURATION and DEPLOYMENT team of Application Server (JBoss), Web server (Apache 2.0), Load balancing using Mod_jk with apache, Database MySQL with replication and fine-tune server performance.
</li>
                           <li>Worked as a member of Performance TESTING team using OpenSTA, Apache JMeter Found out some issues with Jade Framework, server configurations.
</li>

                                            
                      </p>
                  </div><!--//details-->
                </div><!--//item-->

 







  


                
            </section><!--//section-->
